  {% extends "layout.html" %}
  {% block body %}
  <div class="pizza">
    {% if pizza is defined %}
    {% if pizza is none %}
      <div class="error">
        {% if error is defined %}
        {% if error is not none %}
          {{ error }}
        {% else %}        
           Something went wrong...
        {% endif %}
        {% endif %}
      </div>
    {% else %}  
    {{pizza}}

    {% endif %}
  </div>
   <form name="input" action="">
    <input type="submit" value="Another"/>
   </form>
  {%if pizza is not none %}
  <!-- <p>
  <div class="social">
    Share this pizza on
    <ul class="icons">
      <li>Facebook</li>
      <li>Twitter</li>
    </ul>
  </div>
  </p> -->
  {% endif %}
  {% endif %}

<!--  <div data-role="navbar">
  <ul>
      <li><a href="#" class="ui-btn-active">By Style</a></li>
      <li><a href="#">By Ingredients</a></li>
      <li><a href="#">Random</a></li>
  </ul>
</div> --><!-- /navbar -->
  {% endblock %}

