<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Andiccio24 Share your own</title>
    <link rel="stylesheet"
	  href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css"/>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
  </head>
  <body>

    <!-- Start of first page: #one -->
    <div data-role="page" id="one">

      <div data-role="header">
	<h1>Andiccio24</h1>
      </div><!-- /header -->

      <div data-role="content" >
        <img alt="Andiccio24 logo" src="/static/andiccio24-logo.png"/>	
	<h2>Share your own</h2>
	
	<p>You have created your masterpiece and everyone just has to try it.  Enter your base and toppings on the Order Pad below, submit and then share on Facebook or Twitter.</p>
        <p>Or if you are at your favourite Andiccio24 outlet but just can't decide what to pick, get some pizza inspiration.  See the highest rated pizzas, look at random pizzas until one strikes your fancy or find which combinations work with your favourite topping.</p>

	<!-- <p>You link to internal pages by referring to the <code>id</code> of the page you want to show. For example, to <a href="#two" >link</a> to the page with an <code>id</code> of "two", my link would have a <code>href="#two"</code> in the code.</p>	 -->

	<h3>Next:</h3>
	<p><a href="#two" data-role="button">Share your own pizza</a></p>
	<p><a href="random" data-role="button">Get some pizza inspiration</a></p>	
	<!-- <p><a href="#popup" data-role="button" data-rel="dialog" data-transition="pop">Show page "popup" (as a dialog)</a></p> -->
      </div><!-- /content -->
      
      <div data-role="footer" data-theme="d">
	<h4>Page Footer</h4>
        <p>This app is not endorsed by Andiccio24 in any way</p>
      </div><!-- /footer -->
    </div><!-- /page one -->


    <!-- Start of second page: #two -->
    <div data-role="page" id="two" data-theme="d">

      <div data-role="header">
        <h1>Share your own...</h1>
      </div><!-- /header -->

      <div data-role="content" data-theme="d">
        <img alt="Andiccio24 logo" src="/static/andiccio24-logo.png"/>
        <p>
          <form name="input" action="/share" method="post">
            <div data-role="collapsible-set">
	      <div data-role="collapsible" data-collapsed="false">
		<h3>Pizza Base</h3>
                      <label for="pizza_base_001">Margherita</label>
                      <input type="radio" name="pizza_base" id="pizza_base_001" value="margherita"/>

                      <label for="pizza_base_002">Mini Margherita</label>
                      <input type="radio" name="pizza_base" id="pizza_base_002" value="mini_margherita"/>

                      <label for="pizza_base_003">Gluten Free</label>
                      <input type="radio" name="pizza_base" id="pizza_base_003" value="gluten_free"/>

                      <label for="pizza_base_004">Wholewheat</label>
                      <input type="radio" name="pizza_base" id="pizza_base_004" value="wholewheat"/>

                      <label for="pizza_base_005">Chakalaka</label>
                      <input type="radio" name="pizza_base" id="pizza_base_005" value="chakalaka"/>

                      <label for="pizza_base_006">Garlic Focaccia</label>
                      <input type="radio" name="pizza_base" id="pizza_base_006" value="garlic_focaccia"/>

                      <label for="pizza_base_007">Cheese Foccacia</label>
                      <input type="radio" name="pizza_base" id="pizza_base_007" value="cheese_foccacia"/>

                      <label for="pizza_base_008">Herb Foccacia</label>
                      <input type="radio" name="pizza_base" id="pizza_base_008" value="herb_foccacia"/>

                      <label for="pizza_base_009">Pizza Wrap</label>
                      <input type="radio" name="pizza_base" id="pizza_base_009" value="pizza_wrap"/>

                      <label for="pizza_base_010">Rosso</label>
                      <input type="radio" name="pizza_base" id="pizza_base_010" value="rosso"/>

                      <label for="pizza_base_011">Nutella (Desert Pizza)</label>
                      <input type="radio" name="pizza_base" id="pizza_base_011" value="nutella"/>
	      </div>
	      <div data-role="collapsible">
		<h3>Extra Cheese</h3>
                      <label for="extra_cheese_001">Cheddar</label>
                      <input type="checkbox" name="extra_cheese" id="extra_cheese_001" value="cheddar"/>

                      <label for="extra_cheese_002">Feta</label>
                      <input type="checkbox" name="extra_cheese" id="extra_cheese_002" value="feta"/>

                      <label for="extra_cheese_003">Gorgonzola</label>
                      <input type="checkbox" name="extra_cheese" id="extra_cheese_003" value="gorgonzola"/>

                      <label for="extra_cheese_004"> Haloumi</label>
                      <input type="checkbox" name="extra_cheese" id="extra_cheese_004" value="haloumi"/>

                      <label for="extra_cheese_005">Mozzarella</label>
                      <input type="checkbox" name="extra_cheese" id="extra_cheese_005" value="mozzarella"/>

                      <label for="extra_cheese_006">Mini Mozzarella</label>
                      <input type="checkbox" name="extra_cheese" id="extra_cheese_006" value="mini_mozzarella"/>

                      <label for="extra_cheese_007">Parmigiano</label>
                      <input type="checkbox" name="extra_cheese" id="extra_cheese_007" value="parmigiano"/>
	      </div>
	      <div data-role="collapsible">
		<h3>Meat, Fish and Poultry</h3>
                      <label for="meat_fish_and_poultry_001">Anchovies</label>
                      <input type="checkbox" name="meat_fish_and_poultry" id="meat_fish_and_poultry_001" value="anchovies"/>

                      <label for="meat_fish_and_poultry_002">Bacon</label>
                      <input type="checkbox" name="meat_fish_and_poultry" id="meat_fish_and_poultry_002" value="bacon"/>

                      <label for="meat_fish_and_poultry_003">Biltong</label>
                      <input type="checkbox" name="meat_fish_and_poultry" id="meat_fish_and_poultry_003" value="biltong"/>

                      <label for="meat_fish_and_poultry_004">Bacon</label>
                      <input type="checkbox" name="meat_fish_and_poultry" id="meat_fish_and_poultry_004" value="bacon"/>

                      <label for="meat_fish_and_poultry_005">Chourico</label>
                      <input type="checkbox" name="meat_fish_and_poultry" id="meat_fish_and_poultry_005" value="chourico"/>

                      <label for="meat_fish_and_poultry_006">Egg (x2)</label>
                      <input type="checkbox" name="meat_fish_and_poultry" id="meat_fish_and_poultry_006" value="egg_x2"/>

                      <label for="meat_fish_and_poultry_007">Ham</label>
                      <input type="checkbox" name="meat_fish_and_poultry" id="meat_fish_and_poultry_007" value="ham"/>

                      <label for="meat_fish_and_poultry_008">Lamb</label>
                      <input type="checkbox" name="meat_fish_and_poultry" id="meat_fish_and_poultry_008" value="lamb"/>

                      <label for="meat_fish_and_poultry_009">Mince</label>
                      <input type="checkbox" name="meat_fish_and_poultry" id="meat_fish_and_poultry_009" value="mince"/>

                      <label for="meat_fish_and_poultry_010">Parma Ham</label>
                      <input type="checkbox" name="meat_fish_and_poultry" id="meat_fish_and_poultry_010" value="parma_ham"/>

                      <label for="meat_fish_and_poultry_011">Salami</label>
                      <input type="checkbox" name="meat_fish_and_poultry" id="meat_fish_and_poultry_011" value="salami"/>

                      <label for="meat_fish_and_poultry_012">Bacon</label>
                      <input type="checkbox" name="meat_fish_and_poultry" id="meat_fish_and_poultry_012" value="bacon"/>

                      <label for="meat_fish_and_poultry_013">Spare Ribs</label>
                      <input type="checkbox" name="meat_fish_and_poultry" id="meat_fish_and_poultry_013" value="spare_ribs"/>

                      <label for="meat_fish_and_poultry_014">Spicy Chicken</label>
                      <input type="checkbox" name="meat_fish_and_poultry" id="meat_fish_and_poultry_014" value="spicy_chicken"/>

                      <label for="meat_fish_and_poultry_015">Tuna</label>
                      <input type="checkbox" name="meat_fish_and_poultry" id="meat_fish_and_poultry_015" value="tuna"/>
	      </div>
	      <div data-role="collapsible">
		<h3>Veggies</h3>
                      <label for="veggies_001">Almonds (Roasted)</label>
                      <input type="checkbox" name="veggies" id="veggies_001" value="almonds_roasted"/>

                      <label for="veggies_002">Artichokes</label>
                      <input type="checkbox" name="veggies" id="veggies_002" value="artichokes"/>

                      <label for="veggies_003">Avocado</label>
                      <input type="checkbox" name="veggies" id="veggies_003"value="avocado"/>

                      <label for="veggies_004">Baby Marrow</label>
                      <input type="checkbox" name="veggies" id="veggies_004" value="baby_marrow"/>

                      <label for="veggies_005">Bananas</label>
                      <input type="checkbox" name="veggies" id="veggies_005" value="bananas"/>

                      <label for="veggies_006">Brinjals</label>
                      <input type="checkbox" name="veggies" id="veggies_006" value="brinjals"/>

                      <label for="veggies_007">Capers</label>
                      <input type="checkbox" name="veggies" id="veggies_007" value="capers"/>

                      <label for="veggies_008">Caramelised Onions</label>
                      <input type="checkbox" name="veggies" id="veggies_008" value="caramelised_onions"/>

                      <label for="veggies_009">Cherry Tomatoes</label>
                      <input type="checkbox" name="veggies" id="veggies_009" value="cherry_tomatoes"/>

                      <label for="veggies_010">Green Peppers</label>
                      <input type="checkbox" name="veggies" id="veggies_010" value="green_peppers"/>

                      <label for="veggies_011">Jalapenos</label>
                      <input type="checkbox" name="veggies" id="veggies_011" value="jalapenos"/>

                      <label for="veggies_012">Mushrooms</label>
                      <input type="checkbox" name="veggies" id="veggies_012" value="mushrooms"/>

                      <label for="veggies_013">Olives</label>
                      <input type="checkbox" name="veggies" id="veggies_013" value="olives"/>

                      <label for="veggies_014">Onions</label>
                      <input type="checkbox" name="veggies" id="veggies_014" value="onions"/>

                      <label for="veggies_015">Peppadews</label>
                      <input type="checkbox" name="veggies" id="veggies_015" value="peppadews"/>

                      <label for="veggies_016">Pineapple</label>
                      <input type="checkbox" name="veggies" id="veggies_016" value="pineapple"/>

                      <label for="veggies_017">Sesame Seeds</label>
                      <input type="checkbox" name="veggies" id="veggies_017" value="sesame_seeds"/>

                      <label for="veggies_018">Spinach</label>
                      <input type="checkbox" name="veggies" id="veggies_018" value="spinach"/>

                      <label for="veggies_019">Sundried Tomatoes</label>
                      <input type="checkbox" name="veggies" id="veggies_019" value="sundried_tomatoes"/>
	      </div>
	      <div data-role="collapsible">
		<h3>Herbs</h3>

                      <label for="herbs_001">Basil</label>
                      <input type="checkbox" name="herbs" id="herbs_001" value="basil"/>

                      <label for="herbs_002">Chillies</label>
                      <input type="checkbox" name="herbs" id="herbs_002" value="chillies"/>

                      <label for="herbs_003">Chives</label>
                      <input type="checkbox" name="herbs" id="herbs_003" value="chives"/>

                      <label for="herbs_004">Coriander</label>
                      <input type="checkbox" name="herbs" id="herbs_004" value="coriander"/>

                      <label for="herbs_005">Garlic</label>
                      <input type="checkbox" name="herbs" id="herbs_005" value="garlic"/>

                      <label for="herbs_006">Roasted Garlic</label>
                      <input type="checkbox" name="herbs" id="herbs_006" value="roasted_garlic"/>

                      <label for="herbs_007">Rocket</label>
                      <input type="checkbox" name="herbs" id="herbs_007" value="rocket"/>

                      <label for="herbs_008">Rosemary</label>
                      <input type="checkbox" name="herbs" id="herbs_008" value="rosemary"/>

                      <label for="herbs_009">Spring Onions</label>
                      <input type="checkbox" name="herbs" id="herbs_009" value="spring_onions"/>

	      </div>
	      <div data-role="collapsible">
                <h3>Sweets</h3>
                      <label for="sweets_001">Flake</label>
                      <input type="checkbox" name="sweets" id="sweets_001" value="flake"/>
                      
                      <label for="sweets_002">Jelly Tots</label>
                      <input type="checkbox" name="sweets" id="sweets_002" value="jelly_tots"/>

                      <label for="sweets_003">Marshmallows</label>
                      <input type="checkbox" name="sweets" id="sweets_003" value="marshmallows"/>

                      <label for="sweets_004">Oreo Biscuits</label>
                      <input type="checkbox" name="sweets" id="sweets_004" value="oreo_biscuits"/>

                      <label for="sweets_005">Peppermint Aero</label>
                      <input type="checkbox" name="sweets" id="sweets_005" value="peppermint_aero"/>

                      <label for="sweets_006">Smarties</label>
                      <input type="checkbox" name="sweets" id="sweets_006" value="smarties"/>

                      <label for="sweets_007">Whispers</label>
                      <input type="checkbox" name="sweets" id="sweets_007" value="whispers"/>

                      <label for="sweets_008">100's & 1000's</label>
                      <input type="checkbox" name="sweets" id="sweets_008" value="100s_and_1000s"/>
              </div> 
              <input type="submit" value="Submit"/>
            </div><!-- collapsible-set -->
          </form>
        </p>
	<p><a href="#one" data-direction="reverse" data-role="button" data-theme="b">Back to page "one"</a></p>	
	
      </div><!-- /content -->
      
      <div data-role="footer">
	<h4>Page Footer</h4>
      </div><!-- /footer -->
    </div><!-- /page two -->


    <!-- Start of third page: #popup -->
    <div data-role="page" id="popup">

      <div data-role="header" data-theme="e">
	<h1>Dialog</h1>
      </div><!-- /header -->

      <div data-role="content" data-theme="d">	
	<h2>Popup</h2>
	<p>I have an id of "popup" on my page container and only look like a dialog because the link to me had a <code>data-rel="dialog"</code> attribute which gives me this inset look and a <code>data-transition="pop"</code> attribute to change the transition to pop. Without this, I'd be styled as a normal page.</p>		
	<p><a href="#one" data-rel="back" data-role="button" data-inline="true" data-icon="back">Back to page "one"</a></p>	
      </div><!-- /content -->
      
      <div data-role="footer">
	<h4>Page Footer</h4>
      </div><!-- /footer -->
    </div><!-- /page popup -->

  </body>
</html>
