<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"> 
    <title>Andiccio24 Share your own</title>
    <link rel="stylesheet"
	  href="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.css"/>
    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src="http://code.jquery.com/mobile/1.1.1/jquery.mobile-1.1.1.min.js"></script>
  </head>
  <body>

    <!-- Start of first page: #one -->
    <div data-role="page" id="one">

      <div data-role="header">
	<h1>Andiccio24</h1>
      </div><!-- /header -->

      <div data-role="content" >
        <img alt="Andiccio24 logo" src="/static/andiccio24-logo.png"/>	
	<h2>Share your own</h2>
	
	<p>You have created your masterpiece and everyone just has to try it.  Enter your base and toppings on the Order Pad below, submit and then share on Facebook or Twitter.</p>
        <p>Or if you are at your favourite Andiccio24 outlet but just can't decide what to pick, get some pizza inspiration.  See the highest rated pizzas, look at random pizzas until one strikes your fancy or find which combinations work with your favourite topping.</p>

	<h3>Next:</h3>
	<p><a href="share" data-role="button">Share your own pizza</a></p>
	<p><a href="random" data-role="button">Get some pizza inspiration</a></p>	
	<!-- <p><a href="#popup" data-role="button" data-rel="dialog" data-transition="pop">Show page "popup" (as a dialog)</a></p> -->
      </div><!-- /content -->
      
      <div data-role="footer" data-theme="d">
	<h4>Page Footer</h4>
        <p>This app is not endorsed by Andiccio24 in any way</p>
      </div><!-- /footer -->
    </div><!-- /page one -->

    <!-- Start of third page: #popup -->
    <div data-role="page" id="popup">

      <div data-role="header" data-theme="e">
	<h1>Dialog</h1>
      </div><!-- /header -->

      <div data-role="content" data-theme="d">	
	<h2>Popup</h2>
	<p>I have an id of "popup" on my page container and only look like a dialog because the link to me had a <code>data-rel="dialog"</code> attribute which gives me this inset look and a <code>data-transition="pop"</code> attribute to change the transition to pop. Without this, I'd be styled as a normal page.</p>		
	<p><a href="#one" data-rel="back" data-role="button" data-inline="true" data-icon="back">Back to page "one"</a></p>	
      </div><!-- /content -->
      
      <div data-role="footer">
	<h4>Page Footer</h4>
      </div><!-- /footer -->
    </div><!-- /page popup -->

  </body>
</html>
