  {% extends "layout.html" %}
  {% block body %}
  <h1>Share your own...</h1>
  <img alt="Andiccio24 logo" src="/static/andiccio24-logo.png"/>
  
  <div class="pizza">
    {% if pizza is defined %}
    {% if pizza is none %}
      <div class="error">
        {% if error is defined %}
          {{ error }}
        {% else %}        
           Something went wrong...
        {% endif %}
      </div>
    {% else %}  
      <div class="message">
        Here you go!
      </div>
      <!-- {{ pizza | pprint}} -->
    {% for k in (pizza.ingredients.keys()) %}
    <h3 class="ingr_type">{{ k }}</h3>
      {% for v in (pizza.ingredients[k]) %}
        <div class="ingr">{{ v }}</div>
      {% endfor %}
    {% endfor %}
    {% endif %}
  </div>
  {%if pizza is not none %}
  <div class="social">
    Share this pizza on
    <ul class="icons">
      <li>Facebook</li>
      <li>Twitter</li>
    </ul>
  </div>
  {% endif %}
  {% endif %}
  {% endblock %}

