  {% extends "layout.html" %}
  {% block body %}
  <div class="pizza">
    {% if pizza is defined %}
    {% if pizza is none %}
      <div class="error">
        {% if error is defined %}
          {{ error }}
        {% else %}        
           Something went wrong...
        {% endif %}
      </div>
    {% else %}  
    {{pizza}}

    {% endif %}
  </div>
  {%if pizza is not none %}
  <div class="social">
    Share this pizza on
    <ul class="icons">
      <li>Facebook</li>
      <li>Twitter</li>
    </ul>
  </div>
  {% endif %}
  {% endif %}
  {% endblock %}

