{% extends "layout.html" %}
{% block body %}
<h1>Share your own...</h1>
<img alt="Andiccio24 logo" src="/static/andiccio24-logo.png"/>
  <p>
    <form name="input" action="/share" method="post">
      <div data-role="collapsible-set">
      {% for group in sharepad.groups %}
        {% if loop.first %}
          <div data-role="collapsible" data-collapsed="false">       
        {% else %}
          <div data-role="collapsible">
        {% endif %}
            <h3>{{ group.display_name }}</h3>
            {% for i in sharepad.elements %}
              {% if group.name == i.type_name %}
                <label for="{{i.id}}">{{i.display_name}}</label>
                {% if i.type_name == 'pizza_base' %}          
                  <input type="radio" name="{{i.type_name}}" id="{{i.id}}" value="{{i.name}}"/>
                {% else %}          
                  <input type="checkbox" name="{{i.type_name}}" id="{{i.id}}" value="{{i.name}}"/>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
      {% endfor %}
        <input type="submit" value="Submit"/>
      </div>
    </form>
  </p>
  {% endblock %}