{% extends "layout.html" %}
{% block body %}
<h1>Share your own...</h1>
<img alt="Andiccio24 logo" src="/static/andiccio24-logo.png"/>
<p>
  <form name="input" action="/share" method="post">

    <fieldset>
      <legend>Pizza Base</legend>
      <ol>
        <li>
          <label for="pizza_base">Margherita</label>
          <input type="radio" name="pizza_base" value="margherita" />
        </li>
        <li>
          <label for="pizza_base">Mini Margherita</label>
          <input type="radio" name="pizza_base" value="mini_margherita" />
        </li>
        <li>
          <label for="pizza_base">Gluten Free</label>
          <input type="radio" name="pizza_base" value="gluten_free" />
        </li>
        <li>
          <label for="pizza_base">Wholewheat</label>
          <input type="radio" name="pizza_base" value="wholewheat" />
        </li>
        <li>
          <label for="pizza_base">Chakalaka</label>
          <input type="radio" name="pizza_base" value="chakalaka" />
        </li>
        <li>
          <label for="pizza_base">Garlic Focaccia</label>
          <input type="radio" name="pizza_base" value="garlic_focaccia" />
        </li>
        <li>
          <label for="pizza_base">Cheese Foccacia</label>
          <input type="radio" name="pizza_base" value="cheese_foccacia" />
        </li>
        <li>
          <label for="pizza_base">Herb Foccacia</label>
          <input type="radio" name="pizza_base" value="herb_foccacia" />
        </li>
        <li>
          <label for="pizza_base">Pizza Wrap</label>
          <input type="radio" name="pizza_base" value="pizza_wrap" />
        </li>
        <li>
          <label for="pizza_base">Rosso</label>
          <input type="radio" name="pizza_base" value="rosso" />
        </li>
        <li>
          <label for="pizza_base">Nutella (Desert Pizza)</label>
          <input type="radio" name="pizza_base" value="nutella" />
        </li>
      </ol>
    </fieldset>

    <fieldset>
      <legend>Extra Cheese</legend>
      <ol>
        <li>
          <label for="extra_cheese">Cheddar</label>
          <input type="radio" name="extra_cheese" value="cheddar" />
        </li>
        <li>
          <label for="extra_cheese">Feta</label>
          <input type="radio" name="extra_cheese" value="feta" />
        </li>
        <li>
          <label for="extra_cheese">Gorgonzola</label>
          <input type="radio" name="extra_cheese" value="gorgonzola" />
        </li>
        <li>
          <label for="extra_cheese">Haloumi</label>
          <input type="radio" name="extra_cheese" value="haloumi" />
        </li>
        <li>
          <label for="extra_cheese">Mozzarella</label>
          <input type="radio" name="extra_cheese" value="mozzarella" />
        </li>
        <li>
          <label for="extra_cheese">Mini Mozzarella</label>
          <input type="radio" name="extra_cheese" value="mini_mozzarella" />
        </li>
        <li>
          <label for="extra_cheese">Parmigiano</label>
          <input type="radio" name="extra_cheese" value="parmigiano" />
        </li>
      </ol>
    </fieldset>

    <fieldset>
      <legend>Meat, Fish and Poultry</legend>
      <ol>
        <li>
          <label for="meat_fish_and_poultry">Anchovies</label>
          <input type="radio" name="meat_fish_and_poultry" value="anchovies" />
        </li>
        <li>
          <label for="meat_fish_and_poultry">Bacon</label>
          <input type="radio" name="meat_fish_and_poultry" value="bacon" />
        </li>
        <li>
          <label for="meat_fish_and_poultry">Biltong</label>
          <input type="radio" name="meat_fish_and_poultry" value="biltong" />
        </li>
        <li>
          <label for="meat_fish_and_poultry">Bacon</label>
          <input type="radio" name="meat_fish_and_poultry" value="bacon" />
        </li>
        <li>
          <label for="meat_fish_and_poultry">Chourico</label>
          <input type="radio" name="meat_fish_and_poultry" value="chourizo" />
        </li>
        <li>
          <label for="meat_fish_and_poultry">Egg (x2)</label>
          <input type="radio" name="meat_fish_and_poultry" value="egg_x2" />
        </li>
        <li>
          <label for="meat_fish_and_poultry">Ham</label>
          <input type="radio" name="meat_fish_and_poultry" value="ham" />
        </li>
        <li>
          <label for="meat_fish_and_poultry">Lamb</label>
          <input type="radio" name="meat_fish_and_poultry" value="lamb" />
        </li>
        <li>
          <label for="meat_fish_and_poultry">Mince</label>
          <input type="radio" name="meat_fish_and_poultry" value="mince" />
        </li>
        <li>
          <label for="meat_fish_and_poultry">Parma Ham</label>
          <input type="radio" name="meat_fish_and_poultry" value="parma_ham" />
        </li>
        <li>
          <label for="meat_fish_and_poultry">Salami</label>
          <input type="radio" name="meat_fish_and_poultry" value="salami" />
        </li>
        <li>
          <label for="meat_fish_and_poultry">Bacon</label>
          <input type="radio" name="meat_fish_and_poultry" value="bacon" />
        </li>
        <li>
          <label for="meat_fish_and_poultry">Spare Ribs</label>
          <input type="radio" name="meat_fish_and_poultry" value="spare_ribs" />
        </li>
        <li>
          <label for="meat_fish_and_poultry">Spicy Chicken</label>
          <input type="radio" name="meat_fish_and_poultry" value="spicy_chicken" />
        </li>
        <li>
          <label for="meat_fish_and_poultry">Tuna</label>
          <input type="radio" name="meat_fish_and_poultry" value="tuna" />
        </li>
      </ol>
    </fieldset>

    <fieldset>
      <legend>Veggies</legend>
      <ol>
        <li>
          <label for="veggies">Almonds (Roasted)</label>
          <input type="radio" name="veggies" value="almonds_roasted" />
        </li>
        <li>
          <label for="veggies">Artichokes</label>
          <input type="radio" name="veggies" value="artichokes" />
        </li>
        <li>
          <label for="veggies">Avocado</label>
          <input type="radio" name="veggies" value="avocado" />
        </li>
        <li>
          <label for="veggies">Baby Marrow</label>
          <input type="radio" name="veggies" value="baby_marrow" />
        </li>
        <li>
          <label for="veggies">Bananas</label>
          <input type="radio" name="veggies" value="bananas" />
        </li>
        <li>
          <label for="veggies">Brinjals</label>
          <input type="radio" name="veggies" value="brinjals" />
        </li>
        <li>
          <label for="veggies">Capers</label>
          <input type="radio" name="veggies" value="capers" />
        </li>
        <li>
          <label for="veggies">Caramelised Onions</label>
          <input type="radio" name="veggies" value="caramelised_onions" />
        </li>
        <li>
          <label for="veggies">Cherry Tomatoes</label>
          <input type="radio" name="veggies" value="cherry_tomatoes" />
        </li>
        <li>
          <label for="veggies">Green Peppers</label>
          <input type="radio" name="veggies" value="green_peppers" />
        </li>
        <li>
          <label for="veggies">Jalapenos</label>
          <input type="radio" name="veggies" value="jalapenos" />
        </li>
        <li>
          <label for="veggies">Mushrooms</label>
          <input type="radio" name="veggies" value="mushrooms" />
        </li>
        <li>
          <label for="veggies">Olives</label>
          <input type="radio" name="veggies" value="olives" />
        </li>
        <li>
          <label for="veggies">Onions</label>
          <input type="radio" name="veggies" value="onions" />
        </li>
        <li>
          <label for="veggies">Peppadews</label>
          <input type="radio" name="veggies" value="peppadews" />
        </li>
        <li>
          <label for="veggies">Pineapple</label>
          <input type="radio" name="veggies" value="pineapple" />
        </li>
        <li>
          <label for="veggies">Sesame Seeds</label>
          <input type="radio" name="veggies" value="sesame_seeds" />
        </li>
        <li>
          <label for="veggies">Spinach</label>
          <input type="radio" name="veggies" value="spinach" />
        </li>
        <li>
          <label for="veggies">Sundried Tomatoes</label>
          <input type="radio" name="veggies" value="sundried_tomatoes" />
        </li>
      </ol>
    </fieldset>

    <fieldset>
      <legend>Herbs</legend>
      <ol>
        <li>
          <label for="herbs">Basil</label>
          <input type="radio" name="herbs" value="basil" />
        </li>
        <li>
          <label for="herbs">Chillies</label>
          <input type="radio" name="herbs" value="chillies" />
        </li>
        <li>
          <label for="herbs">Chives</label>
          <input type="radio" name="herbs" value="chives" />
        </li>
        <li>
          <label for="herbs">Coriander</label>
          <input type="radio" name="herbs" value="coriander" />
        </li>
        <li>
          <label for="herbs">Garlic</label>
          <input type="radio" name="herbs" value="garlic" />
        </li>
        <li>
          <label for="herbs">Roasted Garlic</label>
          <input type="radio" name="herbs" value="roasted_garlic" />
        </li>
        <li>
          <label for="herbs">Rocket</label>
          <input type="radio" name="herbs" value="rocket" />
        </li>
        <li>
          <label for="herbs">Rosemary</label>
          <input type="radio" name="herbs" value="rosemary" />
        </li>
        <li>
          <label for="herbs">Spring Onions</label>
          <input type="radio" name="herbs" value="spring_onions" />
        </li>
      </ol>
    </fieldset>

    <fieldset>
      <legend>Sweets</legend>
      <ol>
        <li>
          <label for="sweets">Flake</label>
          <input type="radio" name="sweets" value="flake" />
        </li>
        <li>
          <label for="sweets">Jelly Tots</label>
          <input type="radio" name="sweets" value="jelly_tots" />
        </li>
        <li>
          <label for="sweets">Marshmallows</label>
          <input type="radio" name="sweets" value="marshmallows" />
        </li>
        <li>
          <label for="sweets">Oreo Biscuits</label>
          <input type="radio" name="sweets" value="oreo_biscuits" />
        </li>
        <li>
          <label for="sweets">Peppermint Aero</label>
          <input type="radio" name="sweets" value="peppermint_aero" />
        </li>
        <li>
          <label for="sweets">Smarties</label>
          <input type="radio" name="sweets" value="smarties" />
        </li>
        <li>
          <label for="sweets">Whispers</label>
          <input type="radio" name="sweets" value="whispers" />
        </li>
        <li>
          <label for="sweets">100's & 1000's</label>
          <input type="radio" name="sweets" value="100s_and_1000s" />
        </li>
      </ol>
    </fieldset>

    <input type="submit" value="Submit" />
  </form>
</p>
{% endblock %}
