{% extends "layout.html" %}
{% block body %}
<h1>Share your own...</h1>
<img alt="Andiccio24 logo" src="/static/andiccio24-logo.png"/>
  <p>
    <form name="input" action="/share" method="post">
      <div data-role="collapsible-set">
      {% for group in sharepad.groups %}
        {% if loop.first %}
          <div data-role="collapsible" data-collapsed="false">       
        {% else %}
          <div data-role="collapsible">
        {% endif %}
            <h3>{{ group.display_name }}</h3>
            {% for i in sharepad.elements %}
              {% if group.name == i.type_name %}
                <!-- {i.type_name}}_{{i.name}} -->
                <label for="{{i.type_name}}_{{i.name}}">{{i.display_name}}</label>
                {% if i.type_name == 'pizza_base' %}          
                  <input type="radio" name="{{i.type_name}}" id="{{i.type_name}}_{{i.name}}" value="{{i.name}}"/>                
                {% else %}          
                  <input type="checkbox" name="{{i.type_name}}" id="{{i.type_name}}_{{i.name}}" value="{{i.name}}"/>
                {% endif %}
              {% endif %}
            {% endfor %}
          </div>
      {% endfor %}

        <div data-role="collapsible" data-collapsed="true">
          <h3>Category</h3>
          <select name="category">
          {% for category in sharepad.categories %}
          <option value="{{category.name}}">{{category.display_name}}</option>
          {% endfor %}
          </select>
        </div>
        <input type="submit" value="Submit"/>
      </div>
    </form>
  </p>
  {% endblock %}